.booking{
  font-family: montserrat, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}
.section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.booking-form {
    max-width: 642px;
    width: 100%;
    margin: auto !important;
    margin-top:20px;
}
.form-header {
    text-align: center;
    margin-bottom: 25px;
}
h1 {
    font-size: 58px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffc001;
    margin: 0;
}
form {
    background-color: #101113;
    padding: 30px 20px;
    border-radius: 3px;
}
.form-label{
    color: white;
    font-size: 14px !important;
}
option{
    color: #101113;
}
@media screen and (min-width : 1024px) and (max-width : 1024px) {
   .select-arrow-hour{
    right: 45.5% !important;
    } 
    .select-arrow-min{
    right: 34% !important;
    } 
    .select-arrow-am{
    right: 22.5% !important;
    } 
}
@media screen and (min-width : 768px) and (max-width : 768px) {
   .select-arrow-hour{
    right: 44.5% !important;
    } 
    .select-arrow-min{
    right: 29% !important;
    } 
    .select-arrow-am{
    right: 13.5% !important;
    } 
}
@media screen and (min-width : 425px) {
   .select-arrow-hour{
    right: 10% !important;
    bottom: 28% !important;
    } 
    .select-arrow-min{
    right: 10% !important;
    bottom: 19.5% !important;
    } 
    .select-arrow-am{
    right: 10% !important;
    bottom: 10.5% !important;
    } 
    .booking-form{
        margin-top: 20px !important;
    }
}
