.booking{
  font-family: montserrat, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}
.text-danger{
    position: absolute !important;
  display: block !important;
  font-size: 11px !important;
  color: red;
}
.section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.booking-form {
    max-width: 750px;
    width: 100%;
    margin: auto !important;
    margin-top:20px;
    /* height: fit-content; */
}
.form-header {
    text-align: center;
    margin-bottom: 25px;
}
h1 {
    font-size: 58px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffc001;
    margin: 0;
}
form {
    background-color: #101113;
    padding: 30px 20px;
    border-radius: 3px;
}
.form-label{
    color: white;
    font-size: 14px !important;
}
option{
    color: #101113;
}
.form-control{
    border: none !important;
}
.fixed-table-toolbar{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
}
.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}
@media screen and (min-width : 1440px) and (max-width : 1440px) {
   .select-arrow-hour{
    right: 46% !important;
    } 
    .select-arrow-min{
    right: 36.5% !important;
    } 
    .select-arrow-am{
    right: 27% !important;
    } 
}
@media screen and (min-width : 1024px) and (max-width : 1024px) {
   .select-arrow-hour{
    right: 44.5% !important;
    } 
    .select-arrow-min{
    right: 31% !important;
    } 
    .select-arrow-am{
    right: 17% !important;
    } 
}
@media screen and (min-width : 768px) and (max-width : 768px) {
    
   .select-arrow-hour{
    right: 43% !important;
    bottom: 24.5% !important;
    } 
    .select-arrow-min{
    right: 25.8% !important;
    bottom: 24.5% !important;
    } 
    .select-arrow-am{
    right: 8.5% !important;
    bottom: 24.5% !important;
    } 
     h1{
        font-size: 40px !important;
        margin-bottom: 0px !important;
    }
    .form-header{
        margin-bottom: 0px !important;
    }
}
@media screen and (max-width : 475px) {
    .booking{
        height: 160vh !important;
    }
    h1{
        font-size: 30px !important;
    }
   .select-arrow-hour{
    right: 10% !important;
    bottom: 33% !important;
    } 
    .select-arrow-min{
    right: 10% !important;
    bottom: 24.5% !important;
    } 
    .select-arrow-am{
    right: 10% !important;
    bottom: 16% !important;
    } 
    
}
